.nav {
  display: flex;
  gap: 24px;

  &__link {
    color: var(--color-black-700);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;

    transition: color 0.3s linear;

    &:hover {
      color: var(--color-primary-300);
    }
  }
}
