@import "vendor/bootstrap-4/functions";
@import "vendor/bootstrap-4/variables";
@import "vendor/bootstrap-4/mixins/breakpoints";

@import "src/reset";
@import "common-mixins";
@import "common-modifiers";

:root {
  --color-black: #000000;
  --color-white: #ffffff;

  --color-primary-50: #e9ebff;
  --color-primary-100: #bac2ff;
  --color-primary-200: #98a4fe;
  --color-primary-300: #7585fe;
  --color-primary-500: #5367fe;
  --color-primary-700: #4252cb;
  --color-primary-800: #2a347f;
  --color-primary-900: #111533;

  --color-secondary-50: #fce8d1;
  --color-secondary-100: #ffd099;
  --color-secondary-200: #ffb966;
  --color-secondary-300: #ffa133;
  --color-secondary-500: #ff8a00;
  --color-secondary-700: #cc6e00;
  --color-secondary-800: #995300;
  --color-secondary-900: #331c00;

  --color-black-700: #121213;
  --color-black-600: #2a2a2b;
  --color-black-500: #59595a;
  --color-black-400: #898989;
  --color-black-300: #a0a0a1;
  --color-black-200: #d0d0d0;

  --color-accent-green-500: #3f845f;
  --color-accent-green-400: #659d7f;
  --color-accent-green-300: #8cb59f;
  --color-accent-green-200: #b2cebf;
  --color-accent-green-100: #d9e6df;

  --color-accent-yellow-500: #e4c65b;
  --color-accent-yellow-400: #e9d17c;
  --color-accent-yellow-300: #efdd9d;
  --color-accent-yellow-200: #f4e8bd;
  --color-accent-yellow-100: #faf4de;

  --color-accent-red-500: #ff4842;
  --color-accent-red-400: #e87d7d;
  --color-accent-red-300: #ee9d9d;
  --color-accent-red-200: #f3bebe;
  --color-accent-red-100: #f9dede;

  --color-accent-blue-500: #2685ca;
  --color-accent-blue-400: #519dd5;
  --color-accent-blue-300: #7db6df;
  --color-accent-blue-200: #a8ceea;
  --color-accent-blue-100: #d4e7f4;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  background: #f3f4f6;
}

.logo {
  display: inline-block;
  line-height: 0;
}

.main-title {
  font-size: 62px;
  font-weight: 500;
  line-height: 80px;
  color: var(--color-primary-500);
}

.title {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  color: var(--color-black-700);
}

//common
@import "src/common/header";
@import "src/common/footer";

//components
@import "src/components/buttons";
@import "src/components/form-elements";
@import "src/components/card";
@import "src/components/crypto-widget";
@import "src/components/quotes-table";

//blocks
@import "src/blocks/exchanger";
@import "src/blocks/steps";
@import "src/blocks/quotes";
@import "src/blocks/calculator";
@import "src/blocks/choose";

