.exchanger {
  padding: 95px 0 65px;
  background: #e4e6f2;

  .main-title {
    margin: 20px 0 15px;
  }

  &__img {
    margin-left: 10px;
  }

  &-widget {
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    gap: 18px;
    margin: 50px 0 -130px;

    border-radius: 40px;
    box-shadow: 0px 0px 25px 0px rgba(83, 103, 254, 0.10);
    background: var(--color-white);

    @include media-breakpoint-down(sm) {
      background: transparent;
      box-shadow: none;
    }

    .crypto-widget {
      flex: 1 1 280px;
      max-width: 100%;
    }
  }
}
